@model Integration.Data.Personal

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Personal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonalId" class="control-label"></label>
                <input asp-for="PersonalId" class="form-control" />
                <span asp-validation-for="PersonalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentFirstName" class="control-label"></label>
                <input asp-for="CurrentFirstName" class="form-control" />
                <span asp-validation-for="CurrentFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentLastName" class="control-label"></label>
                <input asp-for="CurrentLastName" class="form-control" />
                <span asp-validation-for="CurrentLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentMiddleName" class="control-label"></label>
                <input asp-for="CurrentMiddleName" class="form-control" />
                <span asp-validation-for="CurrentMiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialSecurityNumber" class="control-label"></label>
                <input asp-for="SocialSecurityNumber" class="form-control" />
                <span asp-validation-for="SocialSecurityNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriversLicense" class="control-label"></label>
                <input asp-for="DriversLicense" class="form-control" />
                <span asp-validation-for="DriversLicense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentAddress1" class="control-label"></label>
                <input asp-for="CurrentAddress1" class="form-control" />
                <span asp-validation-for="CurrentAddress1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentAddress2" class="control-label"></label>
                <input asp-for="CurrentAddress2" class="form-control" />
                <span asp-validation-for="CurrentAddress2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentCity" class="control-label"></label>
                <input asp-for="CurrentCity" class="form-control" />
                <span asp-validation-for="CurrentCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentCountry" class="control-label"></label>
                <input asp-for="CurrentCountry" class="form-control" />
                <span asp-validation-for="CurrentCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentZip" class="control-label"></label>
                <input asp-for="CurrentZip" class="form-control" />
                <span asp-validation-for="CurrentZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentGender" class="control-label"></label>
                <input asp-for="CurrentGender" class="form-control" />
                <span asp-validation-for="CurrentGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentPhoneNumber" class="control-label"></label>
                <input asp-for="CurrentPhoneNumber" class="form-control" />
                <span asp-validation-for="CurrentPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentPersonalEmail" class="control-label"></label>
                <input asp-for="CurrentPersonalEmail" class="form-control" />
                <span asp-validation-for="CurrentPersonalEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentMaritalStatus" class="control-label"></label>
                <input asp-for="CurrentMaritalStatus" class="form-control" />
                <span asp-validation-for="CurrentMaritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ethnicity" class="control-label"></label>
                <input asp-for="Ethnicity" class="form-control" />
                <span asp-validation-for="Ethnicity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShareholderStatus" class="control-label"></label>
                <input asp-for="ShareholderStatus" class="form-control" />
                <span asp-validation-for="ShareholderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BenefitPlanId" class="control-label"></label>
                <select asp-for="BenefitPlanId" class ="form-control" asp-items="ViewBag.BenefitPlanId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
