@{
    Layout = "_LayoutCustomer";
    ViewBag.Title = "Trang chủ";
}
@model IEnumerable<Integration.ViewModels.NotifyVacations_ViewModel>
@{
    var obj = new List<Integration.ViewModels.NotifyVacations_ViewModel>();
    @foreach (var item in Model)
    {
    }
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-6 col-xl-12">
            <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0">Messages</h6>
                    <a href="">Reload</a>
                </div>
                @foreach (var item in obj)
                {
                    <div class="d-flex align-items-center border-bottom py-3">
                        <i class="fa fa-bell me-lg-2"></i>
                        <div class="w-100 ms-3">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-0" style="color: rgba(0, 156, 255, .7)"> The anniversary of <span style="color:rgb(234 105 149 / 70%)"></span> recruitment is coming up soon</h6>
                                <small><i class="bi bi-arrow-counterclockwise"></i></small>
                            </div>
                            <span>Chúc mừng</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
