@{
    Layout = "_LayoutCustomer";
    ViewBag.Title = "Trang chủ";
}
<div>

    @await Component.InvokeAsync("Vacation")
            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Multiple Bar Chart</h6>
               <canvas id="worldwide-sales"
                        data-x="[&quot;Stakeholder&quot;, &quot;Gender&quot;, &quot;Enthnicity&quot;, &quot;Part-Time&quot;, &quot;Full-Time&quot;]"
                        data-y1="[10, 30, 55, 65, 60, 80, 95]"
                        data-y2="[8, 35, 40, 60, 70, 55, 75]"
                </canvas>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Sales Chart End -->
</div>
<!-- Nội dung của trang Index kết thúc -->
