@model IEnumerable<Integration.ViewModels.Benefits_ViewModel>
@{
    Layout = "_LayoutCustomer";
    ViewBag.Title = "Trang chủ";
    var nonShareholderPlans = ViewBag.NonShareholderPlans as List<Integration.ViewModels.Benefits_ViewModel>;
    var shareholderPlans = ViewBag.ShareholderPlans as List<Integration.ViewModels.Benefits_ViewModel>;
}
<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="bg-light rounded mt-4 h-100">
            <!-- Non-Shareholder Chart Start -->
            <div class="h-100 p-4">
                <h6 class="mb-4">Non-Shareholder</h6>
                <canvas id="doughnut-chart"
                        data-labels='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(nonShareholderPlans.Select(m => m.PlanName)))'
                        data-values='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(m => m.AverageBenefitNonshareholder)))'>
                </canvas>
            </div>
            <!-- Non-Shareholder Chart End -->
        </div>
    </div>
    <div class="col-sm-6">
        <div class="bg-light rounded mt-4 h-100">
            <!-- Shareholder Chart Start -->
            <div class="h-100 p-4">
                <h6 class="mb-4">Shareholder</h6>
                <canvas id="doughnut-chart1"
                        data-labels1='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(shareholderPlans.Select(m => m.PlanName)))'
                        data-values1='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(m => m.AverageBenefitshareholder)))'>
                </canvas>
            </div>
            <!-- Shareholder Chart End -->
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="~/js/benefits.js"></script>
<script src="~/js/benefits2.js"></script>
